
<div class="my-flex">
    <div class="bs">
        <h3>@CalendarName</h3>
    </div>
    <div class="flex-column">
        @foreach (var teacher in Teachers)
        {
            <p>@teacher.Name</p>
            <p>Hello</p>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<TeacherDTO> Teachers { get; set; } = new List<TeacherDTO>();

    [Parameter]
    public string CalendarName { get; set; }

    [Parameter]
    public string TeamName { get; set; }
}
